/** Colors **/
:root{
    --blue: #021a22;
    --green:#a4ff4a;
    --gray:#d3d2d3;
    --red:#cc2936;
    --black:#131313;
}

/** Animations **/
@keyframes googleIcon{
    0%{color: #4285f4;}
    25%{color: #34a853;}
    50%{color: #fbbc05;}
    75%{color: #ea4335;}
    100%{color:#4285f4}
}

/** Main styles**/
.hide{
    display: none;
}
h1{
    margin: 0;
    font-size: 3em;
}
h6{
    margin: 1% auto;
}

/** Login page **/  
#main, #menu-header{
    display: hidden;
}

#sign-in-button,#page-splash{
    margin-top: 25%;
}
body{
    background-color: var(--blue);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.color{
    color: var(--green);
    font-weight: 700;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

/**Header**/
header nav{
    color: var(--green);
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    width: 90%;
}
.btn-google-auth{
    background-color: #eeeeee;
}
.btn-facebook-auth{
    background-color: #3b5998;
}
.fa-google{
animation: googleIcon 5s infinite;
}
.btn-log button{
    width: 70%;
    margin: 2.5% 0;
}
.img-logo{
    margin-top: 2.5%;
    width: 30%;
}
.nav-btn{
    font-size: 1.8em;
}
/** Game Schedule **/
.schedule{
    background-color: rgba(255,255,255,0.1);
    border: 1.5px solid var(--red);
    border-radius: 15px;
    margin: 3% 0;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    width: 80%;
}
.icon-map, .fa-comments{
    color:#BA0E01;
    font-size: 20px;
}
.fa-comments{
    display: none;
}
.time{
    align-content: center;
}
.icon-clock{
    margin-top: 5%;
}
.time p{
    padding-left: 5%;
    font-weight: 300
}

/** Details **/
.game-details{
    width: 95%;
    margin: 5% auto;
}
.details{ 
    border: 1.5px solid var(--red);
    border-bottom: 1px;
    border-radius: 15px 15px 0 0;
    margin: 0% auto;
    width: 95%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: rgba(255,255,255,0.1);
}
.details p{
    margin: 2px;
    font-weight: 300;
}
.match-details{
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}
.match-details img{
    margin: 5% 0;
    width: 40%;
}
.match-details span{
    font-size: 16px;
}
.location{
    border: 1.5px solid var(--red);
    border-radius: 0 0 15px 15px;
    align-items: center;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0% auto;
    height: 45vh;
    padding-bottom: 2.5%;
    background-color: rgba(255,255,255,0.1);
}
.location iframe{
    padding: 1%;
}
.location p{
    text-align: center;
    margin: 2%;
    font-weight: 300;
}

/*** Querys ***/
@media only screen and (min-width: 300px) and (orientation: landscape){
    header nav, .game-details{
        margin: 1% auto;
    }
    body{
        height: 100vh;
        overflow: auto;
    }
    .schedule{
        margin: 10px 0;
        padding-top: 2%;
        width: 100%;
    }
    .marb{
        margin-bottom: 3%;
    }
    .hour{
        display: none;
    }
    .details h6{
        margin: 0;
    }
    .hide{
        display: none;
    }
    .fa-comments{
        display: block;
    }
}